<div class="container-fluid">
    <h3>Review a Business</h3>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            <input type="text" class="form-control" placeholder="Near">
            </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="row">
        <div class="media col-md-8">
            <div class="media-left col-md-2">
                <img src="http://www.hercampus.com/sites/default/files/styles/full_width_embed/public/2014/12/11/hc%20coffee%20shop.jpg?itok=1UdW0qHF"
                     class="media-object" style="height:100px; width:100px" />
            </div>
            <div class="media-body row row-md-6">
                <div class="col-md-3">
                    <h4 class="media-heading">Luna Pizza</h4>
                    <p>* * * Rating</p>
                </div>
                <div class="col-md-3">
                    <h3 class="media-heading">Address!</h3>
                </div>
            </div>
            <div class="media-body row col-md-6">
                <div class="row">
                    <div class="media col-md-6">
                        <div class="media-left col-md-1">
                            <img src="http://www.hercampus.com/sites/default/files/styles/full_width_embed/public/2014/12/11/hc%20coffee%20shop.jpg?itok=1UdW0qHF"
                                 class="media-object" style="width:45px;" />
                        </div>
                        <div class="media-body row-md-5">
                            <h4 class="media-heading">Top Comment</h4>
                            <p>Comment  <span class="badge">3</span></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span>
                <ng-map default-style="true" center="current-position" zoom="11" style="height:250px; width:350px">
                    <marker position="10504 W Broadway St, Pearland, TX 77584"
                            on-mouseover="map.showInfoWindow('business')">
                    </marker>
                    <info-window id="business">
                        <span ng-non-bindable>
                            Name: Pizza Hut
                            Address: 10504 W Broadway St, Pearland, TX 77584
                        </span>
                    </info-window>
                </ng-map>
            </span>
        </div>
    </div>
</div>